<?xml version="1.0"?>
<launch>
    <arg name="prefix" default=""/>

    <!-- joystick node -->
    <node name="joystick" pkg="ur10_teleop_interface" type="joystick.py" output="log"/>

    <!-- keyboard node -->
    <node name="keyboard" pkg="ur10_teleop_interface" type="keyboard.py" output="log"/>

    <!-- mode manager node -->
    <node name="mode_manager" pkg="ur10_teleop_interface" type="mode_manager.py" args="$(arg prefix)" output="log"/>

    <!-- delta_target_input node -->
    <node name="delta_target_input" pkg="ur10_teleop_interface" type="delta_target_input.py" args="$(arg prefix)" output="log"/>

    <!-- delta_target_haptic node -->
    <node name="haptic_target_pose" pkg="ur10_teleop_interface" type="haptic_target_pose.py" args="$(arg prefix)" output="log"/>

    <!-- target pose node -->
    <node name="target_pose" pkg="ur10_teleop_interface" type="target_pose.py" args="$(arg prefix)" output="log"/>
    
    <!-- taks to joint node -->
    <node name="task2joint" pkg="ur10_teleop_interface" type="task2joint" args="$(arg prefix)" output="log"/>

    <!-- teleop controller -->
    <node name="teleop_controller" pkg="ur10_teleop_interface" type="teleop_controller.py" args="$(arg prefix)" output="log"/> 

    <!-- teleop visualization -->
    <node name='teleop_visualization' pkg='rviz' type='rviz' args='-d $(find ur10_teleop_interface)/rviz/$(arg prefix)_visualization.rviz'/>>

    <!-- arm state publisher node -->
    <node name="arm_state_publisher" pkg="ur10_teleop_interface" type="arm_state_publisher" args="$(arg prefix)" output="log"/>

</launch>
